

.doc-quote {
    background: #f8f8f8;
    border-left: 4px solid #ccc;
    padding: 20px;
    margin-bottom: 1em;
    margin-top: 1.5em;
}

.doc-notice {
    background: #F0F9FE;
    border-left: 4px solid #1C9AE7;
    padding: 20px;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.doc-notice b{
    display: inline-block;
    border-radius: 4px;
    padding: 0 4px;

}

.doc-warn {
    background: #FFFBDC;
    border-left: 4px solid #ffe76e;
    padding: 20px;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.doc-warn b{
    display: inline-block;
    border-radius: 4px;
    padding: 0 4px;
}

.doc-tip {
    background: #EFFCF5;
    border-left: 4px solid #50C5A2;
    padding: 20px;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.doc-tip b{
    display: inline-block;
    border-radius: 4px;
    padding: 0 4px;
}


ol {
    list-style: none;
    margin-left: 40px;
    counter-reset: counter;
    margin-bottom: 36px;
    line-height: 28px;
}

ol>li:before {
    font-size: 14px;
    content: counter(counter);
    counter-increment: counter;
    background-color: #333333;
    color: #FFF;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    line-height: 26px;
    margin-left: -32px;
    margin-top: 1px;
    position: absolute;
}

ol>li{
    margin-bottom: 15px;
}


pre code {
    margin-left: 20px;
    border: 1px solid #ddd;
}

mark{
    background-color: #fff6a4;
}

mark.gray-mark{
    background-color: #eee;
}

h1{
    margin-bottom:1.5em;
    color:#0698EA;
}

h2{
   margin-bottom:1em; 
}

h3, h4{
    margin-bottom:.7em;
}

.icon-pro:before {
  content: "\e906";
  margin-left: 6px;
  margin-right: 6px;
  font-size: .7em;
}

.icon-free:before {
  content: "\e900";
  color: #4d4d4d;
  margin-left: 6px;
  margin-right: 6px;
  font-size: .7em;
  
}

.icon-new:before {
  content: "\e901";
  color: #0698ea;
  margin-left: 6px;
  margin-right: 6px;
  font-size: .8em;
}

.icon-proplus:before {
  content: "\e903";
  color: #edb400;
   margin-left: 6px;
  margin-right: 6px;
  font-size: .7em;

}

.menu.active {border-left: solid 2px; orange; color: black;}
.menu.active a {color: #00478a;}
.menu.is_active {border: none;}
.menu.is_active a {color: orange;}

.menu.level-0 {
    padding-top: 10px;
    font-weight: bold;
}
.menu.level-1 {
    padding-left: 5px;
}
.menu.level-2 {
    padding-left: 10px;
}

.subtopics {margin-left: 15px;}
.menu.level-1 + .subtopics {display: none; border-left: solid 1px #ccc; margin: 5px 0; margin-left: 15px;}
.menu.level-1.has-active + .subtopics, .menu.level-1.is_active + .subtopics {display: block;}
.menu.level-1.has-active a {text-decoration: underline;}

p{
    line-height: 1.7em;
}

.tab{
    background-color: #f7f7f7;
    border:1px solid #c1c1c1;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
}

.li-exeption{
    margin-bottom: 8px;
}
.icon-right-arrow:before {
  content: "\e902";
  margin-left:5px;
  margin-right:5px;
  font-size: .8em;
}

#doc-sidemenu.affix {top: 20px;}
#doc-sidemenu.affix-bottom {position: absolute;}
#doc-sidemenu a {padding: 0;}
