@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?prrcvd');
  src:  url('fonts/icomoon.eot?prrcvd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?prrcvd') format('woff2'),
    url('fonts/icomoon.ttf?prrcvd') format('truetype'),
    url('fonts/icomoon.woff?prrcvd') format('woff'),
    url('fonts/icomoon.svg?prrcvd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e90c";
  color: #4d4d4d;
}
.icon-free:before {
  content: "\e900";
  color: #4d4d4d;
}
.icon-new:before {
  content: "\e901";
  color: #0698ea;
}
.icon-pro:before {
  content: "\e902";
}
.icon-proplus:before {
  content: "\e903";
  color: #f7b000;
}
.icon-caret-down:before {
  content: "\e90d";
}
.icon-caret-right:before {
  content: "\e90e";
}
.icon-right-arrow:before {
  content: "\e904";
}
.icon-tutorial:before {
  content: "\e905";
}
.icon-class-management:before {
  content: "\e906";
}
.icon-faq:before {
  content: "\e907";
}
.icon-reports:before {
  content: "\e908";
}
.icon-resources:before {
  content: "\e909";
}
.icon-student-management:before {
  content: "\e90a";
}
.icon-user-guide:before {
  content: "\e90b";
}
.icon-home:before {
  content: "\e90f";
}
