<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/src/base.css" rel="stylesheet">
    <link href="/src/font-style.css" rel="stylesheet">
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">EdClub Docs</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/docs/styles.html">Style Guide</a>
                </li>
            </ul>
        </div>

      </nav>
	
    </header>

    <div class="container" style='padding-top: 40px;'>
        <div class="row">
            <div class="col-md-4">
				{%  for i in nav %}
					<div class="menu level-{{ i.level }} {% if i.active %}active{% endif %}"><a href="/docs/{{ i.path }}">{{i.name}}</a></div>
				{% endfor %}
            </div>
            <div class="col-md-8">{{ doc_body }}</div>
        </div>
    </div>
</body>
</html>